# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=devace
DB_SYNC=true

# Auth
JWT_SECRET=your_super_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_EXPIRATION=3600s
JWT_REFRESH_EXPIRATION=7d

# Encryption
CRYPTO_SECRET=your-default-32-char-secret-key-!!
